@media print {
  @page{
    size: A4;
    margin-top: 10mm;
  }
}

.view-invoice-table {
  font-size: 0.875rem;
  text-align: left;

  margin: auto;

  table {
    border-spacing: 0;
  }

  th, td {
    border-right: 1px solid black;
    border-bottom: 1px solid black;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  th {
    border-top: 1px solid black !important;
    background: #616161;
    color: white;
    border: none;
  }

  th:first-child, td:first-child {
    border-left: 1px solid black !important;
  }
}